In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('train (1).csv', usecols = ["MSSubClass", "MSZoning", "LotFrontage", "LotArea", "Street", "LotShape", "1stFlrSF", "2ndFlrSF", "YearBuilt", "SalePrice"])

In [3]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,YearBuilt,1stFlrSF,2ndFlrSF,SalePrice
0,60,RL,65.0,8450,Pave,Reg,2003,856,854,208500
1,20,RL,80.0,9600,Pave,Reg,1976,1262,0,181500
2,60,RL,68.0,11250,Pave,IR1,2001,920,866,223500
3,70,RL,60.0,9550,Pave,IR1,1915,961,756,140000
4,60,RL,84.0,14260,Pave,IR1,2000,1145,1053,250000

In [4]:
df.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage    259
LotArea          0
Street           0
LotShape         0
YearBuilt        0
1stFlrSF         0
2ndFlrSF         0
SalePrice        0
dtype: int64

In [5]:
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].mean())

In [6]:
df.isnull().sum()

MSSubClass     0
MSZoning       0
LotFrontage    0
LotArea        0
Street         0
LotShape       0
YearBuilt      0
1stFlrSF       0
2ndFlrSF       0
SalePrice      0
dtype: int64

In [7]:
df.shape

(1460, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSSubClass   1460 non-null   int64
 1   MSZoning     1460 non-null   object
 2   LotFrontage  1460 non-null   float64
 3   LotArea      1460 non-null   int64
 4   Street       1460 non-null   object
 5   LotShape     1460 non-null   object
 6   YearBuilt    1460 non-null   int64
 7   1stFlrSF     1460 non-null   int64
 8   2ndFlrSF     1460 non-null   int64
 9   SalePrice    1460 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 114.2+ KB

In [9]:
for i in df.columns:
    print("Column name {}, unique_value {}".format(i,len(df[i].unique())))

Column name MSSubClass, unique_value 15
Column name MSZoning, unique_value 5
Column name LotFrontage, unique_value 111
Column name LotArea, unique_value 1073
Column name Street, unique_value 2
Column name LotShape, unique_value 4
Column name YearBuilt, unique_value 112
Column name 1stFlrSF, unique_value 753
Column name 2ndFlrSF, unique_value 417
Column name SalePrice, unique_value 663

In [10]:
import datetime

In [11]:
df["HouseAge"] = datetime.datetime.now().year - df['YearBuilt']

In [12]:
df.drop('YearBuilt', axis = 1, inplace = True)

In [13]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,1stFlrSF,2ndFlrSF,SalePrice,HouseAge
0,60,RL,65.0,8450,Pave,Reg,856,854,208500,17
1,20,RL,80.0,9600,Pave,Reg,1262,0,181500,44
2,60,RL,68.0,11250,Pave,IR1,920,866,223500,19
3,70,RL,60.0,9550,Pave,IR1,961,756,140000,105
4,60,RL,84.0,14260,Pave,IR1,1145,1053,250000,20

In [14]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', '1stFlrSF', '2ndFlrSF', 'SalePrice', 'HouseAge'],
      dtype='object')

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_of_columns = ['MSSubClass', 'MSZoning', 'Street','LotShape']

In [17]:
for item in label_of_columns:
    label_encoder = LabelEncoder()
    df[item] = label_encoder.fit_transform(df[item])

In [18]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,1stFlrSF,2ndFlrSF,SalePrice,HouseAge
0,5,3,65.0,8450,1,3,856,854,208500,17
1,0,3,80.0,9600,1,3,1262,0,181500,44
2,5,3,68.0,11250,1,0,920,866,223500,19
3,6,3,60.0,9550,1,0,961,756,140000,105
4,5,3,84.0,14260,1,0,1145,1053,250000,20

In [19]:
for i in df.columns:
    print("Column name {}, unique_value {}".format(i,df[i].unique()))

Column name MSSubClass, unique_value [ 5  0  6  4 14  3 10 11  1  9  8 12  7 13  2]
Column name MSZoning, unique_value [3 4 0 1 2]
Column name LotFrontage, unique_value [ 65.          80.          68.          60.          84.
  85.          75.          70.04995837  51.          50.
  70.          91.          72.          66.         101.
  57.          44.         110.          98.          47.
 108.         112.          74.         115.          61.
  48.          33.          52.         100.          24.
  89.          63.          76.          81.          95.
  69.          21.          32.          78.         121.
 122.          40.         105.          73.          77.
  64.          94.          34.          90.          55.
  88.          82.          71.         120.         107.
  92.         134.          62.          86.         141.
  97.          54.          41.          79.         174.
  99.          67.          83.          43.         103.
  93.          30.         129.         140.          35.
  37.         118.          87.         116.         150.
 111.          49.          96.          59.          36.
  56.         102.          58.          38.         109.
 130.          53.         137.          45.         106.
 104.          42.          39.         144.         114.
 128.         149.         313.         168.         182.
 138.         160.         152.         124.         153.
  46.        ]
Column name LotArea, unique_value [ 8450  9600 11250 ... 17217 13175  9717]
Column name Street, unique_value [1 0]
Column name LotShape, unique_value [3 0 1 2]
Column name 1stFlrSF, unique_value [ 856 1262  920  961 1145  796 1694 1107 1022 1077 1040 1182  912 1494
 1253  854 1004 1296 1114 1339 1158 1108 1795 1060 1600  900 1704  520
  649 1228 1234 1700 1561 1132 1097 1297 1057 1152 1324 1328  884  938
 1150 1752 1518 1656  736  955  794  816 1842 1360 1425  983  860 1426
  780  581 1370  902 1143 2207 1479  747 1304 2223  845  885 1086  840
  526  952 1072 1768  682 1337 1563 1065  804 1301  684  612 1013  990
 1235  964 1260  905  680 1588  960  835 1225 1610  977 1535 1226 1053
 1047  789  997 1844 1216  774 1282 2259 1436  729 1092 1125 1699  728
  988  772 1080 1199 1586  958  660 1327 1721 1682 1214 1959  928  864
 1734  910 1501 1728  970  875  896  969 1710 1252 1200  572  991 1392
 1232 1572 1541  882 1149  808 1867 1707 1064 1362 1651 2158 1164 2234
  968  769  901 1340  936 1217 1224 1593 1549  725 1431  855 1726  929
 1713 1121 1279  865  848  720 1442 1696 1100 1180 1212  932  689 1236
  810 1137 1248 1498 1010  811 2392  630  483 1555 1194 1490  894 1414
 1014  798 1566  866  889  626 1222 1872  908 1375 1444 1306 1625 1302
 1314 1005 1604  963 1382 1482  926  764 1422  802 1052  778 1113 1095
 1363 1632 1560 2121 1156 1175 1468 1575  625 1085  858  698 1079 1148
 1644 1003  975 1041 1336 1210 1675 2000 1122 1035  861 1944  697  972
  793 2036  832  716 1153 1088 1372 1472 1249 1136 1553 1163 1898  803
 1719 1383 1445  596 1056 1629 1358  943 1619 1922 1536 1621 1215  993
  841 1684  536 1478 1848 1869 1453  616 1192 1167 1142 1352  495  790
  672 1394 1268 1287  953 1120  752 1319  847  904  914 1580 1856 1007
 1026  939  784 1269  658 1742  788  735 1144  876 1112 1288 1310 1165
  806 1620 1166 1071 1050 1276 1028  756 1344 1602 1470 1196  707  907
 1208 1412  765  827  734  694 2402 1440 1128 1258  933 1689 1888  956
  679  813 1533  888  786 1242  624 1663  833  979  575  849 1277 1634
 1502 1161 1976 1652 1493 2069 1718 1131 1850 1792  916  999 1073 1484
 1766  886 3228 1133  899 1801 1218 1368 2020 1378 1244 3138 1266 1476
  605 2515 1509  751  334  820  880 1159 1601 1838 1680  767  664 1377
  915  768  825 1069 1717 1126 1006 1048  897 1557 1389  996 1134 1496
  846  576  877 1320  703 1429 2042 1521  989 2028  838 1473  779  770
  924 1826 1402 1647 1058  927  600 1186 1940 1029 1032 1299 1054  807
 1828 1548  980 1012 1116 1520 1350 1089 1554 1411  800 1567  981 1094
 1051  822  755  909 2113  525  851 1486 1686 1181 2097 1454 1465 1679
 1437  738 1839  792 2046  923 1291 1668 1195 1190  874  551 1419 2444
 1238 1067 1391 1800 1264  372 1824  859 1576 1178 1325  971 1698 1776
 1616 1146  948 1349 1464 1720 1038  742  757 1506 1836 1690 1220 1117
 1973 1204 1614 1430 1110 1342  966  976 1062 1127 1285  773 1966 1428
 1075 1309 1044  686 1661 1008  944 1489 2084 1434 1160  941 1516 1559
 1099 1701 1307 1456  918 1779  702 1512 1039 1002 1646 1547 1036  676
 1184 1462 1155 1090 1187  954  892 1709 1712  872 2217 1505 1068  951
 2364 1670 1063 1636 1020 1105 1015 1001  546  480 1229 1272 1316 1617
 1098 1788 1466  925 1905 1500 1207 1188 1381  965 1168  561  696 1542
  824  783  673  869 1241 1118 1407  750  691 1574 1504  985 1657 1664
 1082 2898 1687 1654 1055 1803 1532 2524 1733 1992 1771  930 1526 1091
 1523 1364 1130 1096 1338 1103 1154  799  893  829 1240 1459 1251 1247
 1390  438  950  887 1021 1552  812 1530  974  986 1042 1298 1811 1265
 1640 1432  959 1831 1261 1170 2129  818 1124 2411  949 1624  831 1622
  842  663  879  815 1630 1074 2196 1283 1660 1318 1211 2136 1138 1702
 1507 1361 1024 1141 1173 2076 1140 1034 2110 1405  760 1987 1104  713
 2018 1968 1332  935 1357  661 1724 1573 1582 1659 4692 1246  753 1203
 1294 1902 1274 1787 1061  708 1584 1334  693 1284 1172 2156 2053  992
 1078 1980 1281  814 2633 1571  984  754 2117  998 1416 1746 1525 1221
  741 1569 1223  962 1537 1932 1423  913 1578 2073 1256]
Column name 2ndFlrSF, unique_value [ 854    0  866  756 1053  566  983  752 1142 1218  668 1320  631  716
  676  860 1519  530  808  977 1330  833  765  462  213  548  960  670
 1116  876  612 1031  881  790  755  592  939  520  639  656 1414  884
  729 1523  728  351  688  941 1032  848  836  475  739 1151  448  896
  524 1194  956 1070 1096  467  547  551  880  703  901  720  316 1518
  704 1178  754  601 1360  929  445  564  882  920  518  817 1257  741
  672 1306  504 1304 1100  730  689  591  888 1020  828  700  842 1286
  864  829 1092  709  844 1106  596  807  625  649  698  840  780  568
  795  648  975  702 1242 1818 1121  371  804  325  809 1200  871 1274
 1347 1332 1177 1080  695  167  915  576  605  862  495  403  838  517
 1427  784  711  468 1081  886  793  665  858  874  526  590  406 1157
  299  936  438 1098  766 1101 1028 1017 1254  378 1160  682  110  600
  678  834  384  512  930  868  224 1103  560  811  878  574  910  620
  687  546  902 1000  846 1067  914  660 1538 1015 1237  611  707  527
 1288  832  806 1182 1040  439  717  511 1129 1370  636  533  745  584
  812  684  595  988  800  677  573 1066  778  661 1440  872  788  843
  713  567  651  762  482  738  586  679  644  900  887 1872 1281  472
 1312  319  978 1093  473  664 1540 1276  441  348 1060  714  744 1203
  783 1097  734  767 1589  742  686 1128 1111 1174  787 1072 1088 1063
  545  966  623  432  581  540  769 1051  761  779  514  455 1426  785
  521  252  813 1120 1037 1169 1001 1215  928 1140 1243  571 1196 1038
  561  979  701  332  368  883 1336 1141  634  912  798  985  826  831
  750  456  602  855  336  408  980  998 1168 1208  797  850  898 1054
  895  954  772 1230  727  454  370  628  304  582 1122 1134  885  640
  580 1112  653  220  240 1362  534  539  650  918  933  712 1796  971
 1175  743  523 1216 2065  272  685  776  630  984  875  913  464 1039
 1259  940  892  725  924  764  925 1479  192  589  992  903  430  748
  587  994  950 1323  732 1357  557 1296  390 1185  873 1611  457  796
  908  550  989  932  358 1392  349  691 1349  768  208  622  857  556
 1044  708  626  904  510 1104  830  981  870  694 1152]
Column name SalePrice, unique_value [208500 181500 223500 140000 250000 143000 307000 200000 129900 118000
 129500 345000 144000 279500 157000 132000 149000  90000 159000 139000
 325300 139400 230000 154000 256300 134800 306000 207500  68500  40000
 149350 179900 165500 277500 309000 145000 153000 109000  82000 160000
 170000 130250 141000 319900 239686 249700 113000 127000 177000 114500
 110000 385000 130000 180500 172500 196500 438780 124900 158000 101000
 202500 219500 317000 180000 226000  80000 225000 244000 185000 144900
 107400  91000 135750 136500 193500 153500 245000 126500 168500 260000
 174000 164500  85000 123600 109900  98600 163500 133900 204750 214000
  94750  83000 128950 205000 178000 118964 198900 169500 100000 115000
 190000 136900 383970 217000 259500 176000 155000 320000 163990 136000
 153900 181000  84500 128000  87000 150000 150750 220000 171000 231500
 166000 204000 125000 105000 222500 122000 372402 235000  79000 109500
 269500 254900 162500 412500 103200 152000 127500 325624 183500 228000
 128500 215000 239000 163000 184000 243000 211000 501837 200100 120000
 475000 173000 135000 153337 286000 315000 192000 148500 311872 104000
 274900 171500 112000 143900 277000  98000 186000 252678 156000 161750
 134450 210000 107000 311500 167240 204900  97000 386250 290000 106000
 192500 148000 403000  94500 128200 216500  89500 185500 194500 318000
 262500 110500 241500 137000  76500 276000 151000  73000 175500 179500
 120500 266000 124500 201000 415298 228500 244600 179200 164700  88000
 153575 233230 135900 131000 167000 142500 175000 158500 267000 149900
 295000 305900  82500 360000 165600 119900 375000 188500 270000 187500
 342643 354000 301000 126175 242000 324000 145250 214500  78000 119000
 284000 207000 228950 377426 202900  87500 140200 151500 157500 437154
 318061  95000 105900 177500 134000 280000 198500 147000 165000 162000
 172400 134432 123000  61000 340000 394432 179000 187750 213500  76000
 240000  81000 191000 426000 106500 129000  67000 241000 245500 164990
 108000 258000 168000 339750  60000 222000 181134 149500 126000 142000
 206300 275000 109008 195400  85400  79900 122500 212000 116000  90350
 555000 162900 199900 119500 188000 256000 161000 263435  62383 188700
 124000 178740 146500 187000 440000 251000 132500 208900 380000 297000
  89471 326000 374000 164000  86000 133000 172785  91300  34900 430000
 226700 289000 208300 164900 202665  96500 402861 265000 234000 106250
 184750 315750 446261 200624 107500  39300 111250 272000 248000 213250
 179665 229000 263000 112500 255500 121500 268000 325000 316600 135960
 142600 224500 118500 146000 131500 181900 253293 369900  79500 185900
 451950 138000 319000 114504 194201 217500 221000 359100 313000 261500
  75500 137500 183200 105500 314813 305000 165150 139900 209500  93000
 264561 274000 370878 143250  98300 205950 350000 145500  97500 197900
 402000 423000 230500 173500 103600 257500 372500 159434 285000 227875
 148800 392000 194700 755000 335000 108480 141500  89000 123500 138500
 196000 312500 361919 213000  55000 302000 254000 179540  52000 102776
 189000 130500 159500 341000 103000 236500 131400  93500 239900 299800
 236000 265979 260400 275500 158900 179400 215200 337000 264132 216837
 538000 134900 102000 395000 221500 175900 187100 161500 233000 107900
 160200 146800 269790 143500 485000 582933 227680 135500 159950 144500
  55993 157900 224900 271000 224000 183000 139500 232600 147400 237000
 139950 174900 133500 189950 250580 248900 169000 200500  66500 303477
 132250 328900 122900 154500 118858 142953 611657 125500 255000 154300
 173733  75000  35311 238000 176500 145900 169990 193000 117500 184900
 253000 239799 244400 150900 197500 172000 116500 214900 178900  37900
  99500 182000 167500  85500 178400 336000 159895 255900 117000 395192
 195000 197000 348000 173900 337500 121600 206000 232000 136905 119200
 227000 203000 213490 194000 287000 293077 310000 119750  84000 315500
 262280 278000 139600 556581  84900 176485 200141 185850 328000 167900
 151400  91500 138800 155900  83500 252000  92900 176432 274725 134500
 184100 133700 118400 212900 163900 259000 239500  94000 424870 174500
 116900 201800 218000 235128 108959 233170 245350 625000 171900 154900
 392500 745000 186700 104900 262000 219210 116050 271900 229456  80500
 137900 367294 101800 138887 265900 248328 465000 186500 169900 171750
 294000 165400 301500  99900 128900 183900 378500 381000 185750  68400
 150500 281000 333168 206900 295493 111000 156500  72500  52500 155835
 108500 283463 410000 156932 144152 216000 274300 466500  58500 237500
 377500 246578 281213 137450 193879 282922 257000 223000 274970 182900
 192140 143750  64500 394617 149700 149300 121000 179600  92000 287090
 266500 142125 147500]
Column name HouseAge, unique_value [ 17  44  19 105  20  27  16  47  89  81  55  15  58  14  60  91  50  53
  62  90  18  52  13  69  63  93 100  54  61  26  66  67  65  37  45  23
  86  57  39  56  21  48  99  75  38  22  64  72 110  25  29  11  70  59
  43  35  41 135 101  30  51  85  32  49  68  84  97  96  36  94  80  79
  33  34  12 112 128 104  88 102 108  73  95 120  40  31  28  71 140  92
  42  98  24  10  74 107  83  78  82  46 127 106 114 130 122 116 138 145
 109 103 148 115]

In [20]:
import numpy as np

In [28]:
categorical_features = np.stack([df['MSSubClass'], df['MSZoning'], df['Street'],df['LotShape']], axis = 1)

In [29]:
categorical_features

array([[5, 3, 1, 3],
       [0, 3, 1, 3],
       [5, 3, 1, 0],
       ...,
       [6, 3, 1, 3],
       [0, 3, 1, 3],
       [0, 3, 1, 3]], dtype=int64)

In [25]:
import torch

In [30]:
categorical_features = torch.tensor(categorical_features)

In [31]:
categorical_features

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        ...,
        [6, 3, 1, 3],
        [0, 3, 1, 3],
        [0, 3, 1, 3]])

In [32]:
continueous_features = []
for i in df.columns:
    if i in ['MSSubClass', 'MSZoning', 'Street','LotShape', 'SalePrice']:
        pass
    else:
        continueous_features.append(i)

In [33]:
continueous_features

['LotFrontage', 'LotArea', '1stFlrSF', '2ndFlrSF', 'HouseAge']

In [34]:
continueous_features = np.stack([df[i].values for i in continueous_features], axis = 1)

In [35]:
continueous_features = torch.tensor(continueous_features)

In [36]:
continueous_features

tensor([[   65.,  8450.,   856.,   854.,    17.],
        [   80.,  9600.,  1262.,     0.,    44.],
        [   68., 11250.,   920.,   866.,    19.],
        ...,
        [   66.,  9042.,  1188.,  1152.,    79.],
        [   68.,  9717.,  1078.,     0.,    70.],
        [   75.,  9937.,  1256.,     0.,    55.]], dtype=torch.float64)

In [41]:
# target column
y = torch.tensor(df["SalePrice"]).reshape(-1,1)

In [42]:
y

tensor([[208500],
        [181500],
        [223500],
        ...,
        [266500],
        [142125],
        [147500]])

In [43]:
# embedding

cat_dimension = [len(df[i].unique()) for i in ['MSSubClass', 'MSZoning', 'Street','LotShape']]

In [44]:
cat_dimension

[15, 5, 2, 4]

In [58]:
embedding_dim = [(x, (x+1) // 2) for x in cat_dimension]

In [59]:
embedding_dim

[(15, 8), (5, 3), (2, 1), (4, 2)]

In [60]:
import torch.nn as nn
import torch.nn.functional as F

In [61]:
embed = nn.ModuleList(nn.Embedding(i,o) for i,o in embedding_dim)

In [62]:
embed

ModuleList(
  (0): Embedding(15, 8)
  (1): Embedding(5, 3)
  (2): Embedding(2, 1)
  (3): Embedding(4, 2)
)